@charset "UTF-8";
/*Variables generales*/
/*Mixin General*/
/*Estilos Generales*/
* {
  margin: 0;
  padding: 0; }

h3 {
  font-style: italic; }

hr {
  color: fuchsia; }

/*Estilos generales a contenedores de las distintas secciones*/
.navHeader .active {
  text-decoration: underline wavy fuchsia;
  text-underline-offset: 7px; }

.mainHome {
  margin-top: 100px; }

.mainHome2 {
  margin-bottom: 80px; }

.mainContacto {
  margin-top: 80px; }

#mainService {
  margin-top: 80px;
  margin-bottom: 80px; }

#mainService2 {
  margin-bottom: 80px; }

#mainGalery {
  margin-top: 80px;
  margin-bottom: 80px; }

#mainSobremi {
  margin-top: 80px;
  margin-bottom: 80px; }

/*Estilo a Títulos y texto del sitio*/
.tituloSecundario, .tituloCv {
  margin-top: 70px;
  font-size: 50px;
  text-align: center;
  font-family: "Montserrat", sans-serif; }

.tituloCv {
  font-size: 25px; }

.textoMedio {
  margin-top: 70px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif; }

.subtituloService {
  margin-top: 20px; }

.nav-link {
  color: fuchsia; }

/*Estilo y propiedades al formulario*/
.formContacto {
  background-image: linear-gradient(to left, #d15fb8, #ad4782);
  margin-top: 50px;
  margin-bottom: 70px; }

.form-label {
  color: white; }

/*Estilo al botón del Curriculum para descarga*/
.botonCv {
  background-color: fuchsia;
  margin-bottom: 100px;
  align-content: center; }
  .botonCv:hover {
    border-style: solid;
    border-color: black;
    border-width: 2px; }

/*Estilo al maps en sección Contacto*/
.mapContacto {
  margin-bottom: 80px; }

/*Estilo a Imágenes del sitio*/
.imgJanet {
  margin-bottom: 100px; }

.imgHover:hover, .imgAutomaquillaje:hover, .imgMain2:hover {
  border-style: solid;
  border-color: fuchsia;
  border-width: 2px, 2px, 2px, 2px; }

.imgGaleria:hover {
  transform: scale(1.1, 1.1); }

.imgPresentacion {
  margin-top: 70px;
  margin-bottom: 10px; }
  .imgPresentacion:hover {
    filter: brightness(1.1); }

.imagenesService {
  margin-top: 80px; }

#imgCarousel {
  margin-top: 40px; }
  #imgCarousel:hover {
    transform: scale(1.1, 1.1); }

/*Estilo a iconos de redes sociales*/
.bi-instagram {
  font-size: 25px;
  margin-right: 10px; }
  .bi-instagram:hover {
    color: fuchsia; }

.bi-envelope {
  font-size: 25px;
  margin-right: 10px; }
  .bi-envelope:hover {
    color: fuchsia; }

.bi-whatsapp {
  font-size: 25px; }
  .bi-whatsapp:hover {
    color: fuchsia; }
