$colorHover: fuchsia;
$colorMain: linear-gradient( to bottom, rgb(255, 218, 232), rgb(252, 191, 244));
$colorFooter: linear-gradient( to left, rgb(16, 16, 77), rgb(36, 34, 53));
$letra1: 'Ubuntu';
$letra2: 'Zen Kurenaido';
