@import "header.scss";
@import "footer.scss";
@import "main.scss";
@import "variables.scss";
@import "mixin.scss";


/*Resetear los valores prestablecidos de algunas estiquetas...*/
*{
    margin: 0;
    padding: 0;
}

/*Características generales de texto*/
h2{
    text-decoration: underline;
}

h3{
    position: relative;
    top: 15px;
    left: 320px;
    font-size: 30px;
    font-family: 'Zen Kurenaido', sans-serif;
    font-weight: 600;
    height: fit-content;
}


a{
    text-decoration: none;
    color: black;
}


/*Propiedades de títulos a nivel general*/
.tamañoTitulos2 {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
}

.tamañoSubtitulos {
    font-style: italic;
    font-weight: lighter;
    font-family: 'Ubuntu', sans-serif;
}

/*Responsive a MOBILE (menos de 600px)*/
@media only screen and (max-width: 600px) {

    /*Contenido Main MOBILE HOME*/
    #mainContent1{
        display: grid;
        height: 1500px;
        grid-template-columns: 100%;
        grid-template-rows: 700px 300px 300px;
        grid-template-areas:"a1"
                            "a2"
                            "a3";
        justify-items: center;
        justify-content: center;
        align-content: center;
        row-gap: 20px;
    }

    #imgMain1{
        grid-area: a1;
        display: flex;
        width: 75%;
        height: 80%;
        justify-content: center; 
    }
    
    #parrafoMain1{
        grid-area: a2;
        align-self: center;
        justify-self: center;
        font-size: 15px;
    }

    #imgMain2{
        grid-area: a3;
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 80%;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
       
    /*Contenido Main MOBILE SERVICIOS*/
    #mainContent2{
        display: grid;
        height: 1500px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50px 25px 250px 150px 25px 250px 150px;
        grid-template-areas:"a1 a1"
                            "a2 a2"
                            "a3 a4"
                            "a5 a5"
                            "a6 a6"
                            "a7 a8"
                            "a9 a9";
        justify-items: center;
        align-items: center;
        align-content: center;
        column-gap: 5px;
    }

    #tituloService{
        grid-area: a1;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        font-family: 'Ubuntu', sans-serif;
    }
    
    #tituloService1{
        grid-area: a2;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        font-style: italic;
        font-family: 'Ubuntu', sans-serif;
    }
    
    #imgService1{
        grid-area: a3;
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 100%;
        justify-content: center;
        align-content: center;
    }
    
    
    #imgService3{
        grid-area: a4;
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 100%;
        justify-content: center;
        align-content: center;
    }
    
    #parrafoService1{
        grid-area: a5;
        align-self: center;
        justify-self: center;
        font-size: 15px;
    }
    
    #tituloService2{
        grid-area: a6;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        font-style: italic;
        font-family: 'Ubuntu', sans-serif;
    }
    
    #imgService4{
        grid-area: a7;
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 100%;
        justify-content: center;
        align-content: center;
    }
    
    #imgService5{
        grid-area: a8;
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 100%;
        justify-content: center;
        align-content: center;
    }
    
        
    #parrafoService2{
        grid-area: a9;
        align-self: center;
        justify-self: center;
        font-size: 15px;
    }

    /*Contenido Main MOBILE GALERIA*/
    #mainContent3{
        display: grid;
        height: 1500px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50px 25px 200px 200px 200px;
        grid-template-areas: "a1 a1"
                             "a2 a2"
                             "a3 a4"
                             "a5 a6"
                             "a7 a8";
        justify-items: center;
        align-items: center;
        align-content: center;
        column-gap: 5px;
    }
    
    #tituloGalery{
        grid-area: a1;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Ubuntu', sans-serif;
    }
    
    #tituloGalery1{
        grid-area: a2;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        font-style: italic;
        font-family: 'Ubuntu', sans-serif;
    }
    
    #imgGalery1{
        grid-area: a3;
        display: flex;
        flex-direction: row;
        width: 75%;
        height: 100%;
        justify-content: center;
        align-content: center;
    }
    
    #imgGalery2{
        grid-area: a4;
        display: flex;
        flex-direction: row;
        width: 75%;
        height: 100%;
        justify-content: center;
        align-content: center;
    }
    
    #imgGalery3{
        grid-area: a5;
        display: flex;
        flex-direction: row;
        width: 75%;
        height: 100%;
        justify-content: center;
        align-content: center;
    }
    
    #imgGalery4{
        grid-area: a6;
        display: flex;
        flex-direction: row;
        width: 75%;
        height: 100%;
        justify-content: center;
        align-content: center;
    }
    
    #imgGalery5{
        grid-area: a7;
        display: flex;
        flex-direction: row;
        width: 75%;
        height: 100%;
        justify-content: center;
        align-content: center;
    }
    
    #imgGalery6{
        grid-area: a8;
        display: flex;
        flex-direction: row;
        width: 75%;
        height: 100%;
        justify-content: center;
        align-content: center;
    }

    /*Contenido Main MOBILE SOBRE MI*/
    #mainContent4{
        display: grid;
        height: 1500px;
        grid-template-columns: 100%;
        grid-template-rows: 50px 250px 100px 50px 250px 100px;
        grid-template-areas: "a1"
                             "a2"
                             "a3"
                             "a4"
                             "a5"
                             "a6";
        justify-items: center;
        align-items: center;
        align-content: center;
        row-gap: 15px;
    }
    
    #tituloSobremi{
        grid-area: a1;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        font-family: 'Ubuntu', sans-serif;
    }
    
    #imgSobremi1{
        grid-area: a2;
        display: flex;
        width: 60%;
        height: 100%;
        justify-content: center;
    }
    
    #parrafoSobremi1{
        grid-area: a3;
        width: 80%;
        height: 50%;
        align-self: center;
        justify-self: center;
    }
    
    #tituloSobremi1{
        display: flex;
        grid-area: a4;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        font-style: italic;
        font-family: 'Ubuntu', sans-serif;
    }
    
    #imgSobremi2{
        grid-area: a5;
        display: flex;
        width: 60%;
        height: 100%;
        justify-content: center;
    }
    
    #parrafoSobremi2{
        grid-area: a6;
        align-self: center;
        justify-self: center;
        width: 80%;
        height: 50%;
    }

    /*Contenido Main MOBILE CONTACTO*/
    #mainContent5{
        display: grid;
        height: 1500px;
        grid-template-columns: 100%;
        grid-template-rows: 200px 350px 400px;
        grid-template-areas: "a1"
                             "a2"
                             "a3";
        justify-items: center;
        align-items: center;
        align-content: center;
        row-gap: 20px;
    }
    
    #tituloContacto{
        grid-area: a1;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Ubuntu', sans-serif;
    }
    
    #formularioContacto{
        grid-area: a2;
        align-self: center;
        justify-self: center;
    }
    
    #mapaContacto{
        grid-area: a3;
        align-self: center;
        justify-self: center;
    }
    
    #menuFooter{

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 250px;
        position:sticky;
    }

    footer{

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h3{
        position: sticky;
        font-size: 20px;
        font-family: 'Zen Kurenaido', sans-serif;
        font-weight: 600;
        height: fit-content;
    }

    #p1{
        height: fit-content;
        position: sticky
    }

    #p2{
        height: fit-content;
        position: sticky
    }
}

